/*-- scss:defaults --*/
$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Base document colors
$body-bg: #000000 !default;
$body-color: #FFFFFF !default;

// Inline code
$code-bg: #000000 !default;
$link-color: #00CCFF !default;
$code-color: #CCFF00 !default;
$code-font-size: .9em !default;
$code-padding: 0px !default;

// color classes
.orange { color: orange }
.green { color: lawngreen }
.blue { color: deepskyblue }
.gray { color: gray }

.quarto-title-banner   { color: #ffffff !important; }

div.navbar-brand-container {
    color: #DEE2E6 !important;
}

nav.navbar {
    background: #2C3E50 !important;
}

svg.mermaid-js path {
    stroke: #ffffff !important;
}

svg.mermaid-js g.edgeLabels span.edgeLabel {
    color: #ffffff !important;
    background: #000000 !important;
}

svg.mermaid-js  circle, rect, polygon {
    fill: #880088 !important;
}

svg.mermaid-js  span.nodeLabel {
    color: #ffffff !important;
}

svg.mermaid-js .marker {
    fill: #ffffff !important;
    stroke: none !important;
}

.knitr {
  filter: invert(1);
}

// #title-block-header > div.quarto-title-banner.page-columns.page-full > div > div.quarto-categories {
//   color: #fff !important;
// }


// color classes
.orange { color: orange }
.green { color: lawngreen }
.blue { color: deepskyblue }
.gray { color: gray }

.quarto-title-banner h1, div.quarto-categories { color: #ffffff !important; }

button.btn.btn-quarto, div.observablehq > div.button-switch {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    background-color: #1c1c1c !important;
    text-align: center !important;
    border: 1px solid grey !important;
    padding: 0px 7px !important;
    line-height: 1.5;
    width: auto !important;
    color: #EFEFEF !important;
    font-size: 14px !important;
    font-family: sans-serif !important;
    text-decoration: none !important;
}
button.btn.btn-quarto:hover, div.observablehq > div.button-switch:hover {
    background-color: #555555 !important;
    border: 1px solid #C5C5C5 !important;
}
button.btn.btn-quarto:active, div.observablehq > div.button-switch:active {
    background-color: #454545 !important;
    border: 1px solid grey !important;
}
.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px;
}

form.oi-ec050e.oi-ec050e-toggle {
    --label-width: 60px;
    --input-width: 30px;
}

// div.ojs-in-a-box-waiting-for-module-import.observablehq > form.oi-ec050e {
form.oi-ec050e {
    --label-width: 60px;
    --input-width: 450px;
}

svg g g.tick text {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #ffffff !important;
    font-size: 20px !important;
}

svg.schedule-explorer g[aria-label="x-axis tick label"] text {
    color: #ffffff !important;
    font-size: 28px !important;
}
svg.schedule-explorer g[aria-label="y-axis tick label"] text {
    color: #ffffff !important;
    font-size: 22px !important;
}
svg.date-selector g[aria-label="x-axis tick label"] text {
    color: #ffffff !important;
    font-size: 22px !important;
}
svg.date-selector g[aria-label="y-axis tick label"] text {
    color: #ffffff !important;
    font-size: 18px !important;
}

svg:not(.aa-SubmitIcon) {
    background: #000000 !important;
}

#listing-listing > div.list.grid.quarto-listing-cols-3 > div > a > div > p > img.thumbnail-image.card-img {
    border: 1px solid rgba(150,150,150,.125) !important;
    border-bottom: 0 !important;
}

div.card-body {
    border: 1px solid rgba(150,150,150,.125) !important;
    border-top: 0 !important;
}

div.card-footer {
    background: #0d0d0d !important;
    color: #ffffff !important;
    border: 1px solid rgba(150,150,150,.125) !important;
    border-top: 0;
}
