h1.title {
  text-align: center;
}

.centered {
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .cvdate {
    float: right;
    font-style: italic;
  }
}

.italic {
  font-style: italic;
}

.tooltip {
  color: italic;
}

@media only screen and (min-width: 900px) {
  section > ul > li > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  div.contact > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

@media only screen and (min-width: 900px) {
  div.langs > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}