h1.title {
  text-align: center;
}

.centered {
  text-align: center;
}

@media only screen and (min-width: 840px) {
  .cvdate {
    float: right;
  }
  section > ul > li > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.langs > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cvdate {
  font-style: italic;
}

.italic {
  font-style: italic;
}

div.contact > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

@media only screen and (max-width: 840px) {
div.contact > ul {
  flex-direction: column;
}
div.contact > ul > li {
  text-align: center;
}
}

h3.anchored {
    margin: 8px 0px;
}

p, li {
  text-align: left;
}
